source .vimrc

" ==================== settings ==================== "
set ideajoin
set dialogescape=on
set virtualedit=onemore
set idearefactormode=keep


" ==================== plugins ==================== "
set sneak

Plug 'kana/vim-textobj-entire'
Plug 'machakann/vim-highlightedyank'
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'vim-scripts/argtextobj.vim'

let g:argtextobj_pairs="[:],(:),<:>"


" ==================== mappings ==================== "

" intellij window navigation
nmap <Leader>e :action ActivateProjectToolWindow<CR>
nmap <Leader>t :action ActivateTerminalToolWindow<CR>
nmap <Leader>h :action HideAllWindows<CR>

" intellij code actions
nmap <Leader>g :action Generate<CR>
nmap <Leader>n :action NewElement<CR>

nmap <Leader>r :action Refactorings.QuickListPopupAction<CR>
vmap <Leader>r :action Refactorings.QuickListPopupAction<CR>

nmap <Leader>l :action ReformatCode<CR>
vmap <Leader>l :action ReformatCode<CR>

nmap <Leader>o :action OptimizeImports<CR>
vmap <Leader>o :action OptimizeImports<CR>

vmap J :action MoveStatementDown<CR>
vmap K :action MoveStatementUp<CR>

" intellij gotos
nmap gf :action GotoFile<CR>
nmap ga :action GotoAction<CR>
nmap gd :action GotoDeclaration<CR>
nmap ge :action GotoNextError<CR>
nmap gE :action GotoPreviousError<CR>
nmap gi :action GotoImplementation<CR>
nmap gs :action GotoSymbol<CR>
nmap gy :action GotoTypeDeclaration<CR>

nmap gH :action QuickJavaDoc<CR>

" use intellij navigation history
nmap <C-O> :action Back<CR>
nmap <C-I> :action Forward<CR>

" intellij run/debug
nmap \r :action Run<CR>
nmap \s :action Stop<CR>
nmap \d :action Debug<CR>
nmap \b :action ToggleLineBreakpoint<CR>
