source ~/.vimrc

" ==================== settings ==================== "
set ideajoin
set dialogescape=on
set virtualedit=onemore
set idearefactormode=keep


" ==================== plugins ==================== "
set sneak
set NERDTree

Plug 'kana/vim-textobj-entire'
Plug 'machakann/vim-highlightedyank'
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-surround'
Plug 'vim-scripts/argtextobj.vim'

let g:argtextobj_pairs="[:],(:),<:>"


" ==================== mappings ==================== "

map <C-N> <Plug>NextWholeOccurrence
map <C-S-N> <Plug>RemoveOccurrence


" intellij window navigation
map gt :action ActivateTerminalToolWindow<CR>
map gr :action Refactorings.QuickListPopupAction<CR>

map <C-L> <action>(ReformatCode)
map <C-;> <action>(OptimizeImports)


" intellij gotos
map <C-P> :action GotoClass<CR>

map gf :action GotoFile<CR>
map gs :action GotoSymbol<CR>
map ga :action GotoAction<CR>

map gd :action GotoDeclaration<CR>
map gi :action GotoImplementation<CR>
map gy :action GotoTypeDeclaration<CR>

map ge :action GotoNextError<CR>
map gE :action GotoPreviousError<CR>

map gq :action QuickJavaDoc<CR>

" use intellij navigation
map <C-O> :action Back<CR>
map <C-I> :action Forward<CR>

" intellij run/debug
map \r :action ChooseRunConfiguration<CR>
map \s :action Stop<CR>
map \d :action ChooseDebugConfiguration<CR>
map \b :action ToggleLineBreakpoint<CR>

