source ~/.vimrc

" ==================== settings ==================== "
set ideajoin
set dialogescape=on
set virtualedit=onemore
set idearefactormode=keep


" ==================== plugins ==================== "
set sneak
set NERDTree

Plug 'kana/vim-textobj-entire'
Plug 'machakann/vim-highlightedyank'
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-surround'
Plug 'vim-scripts/argtextobj.vim'

let g:argtextobj_pairs="[:],(:),<:>"


" ==================== mappings ==================== "

" intellij window navigation
map <C-T> :action ActivateTerminalToolWindow<CR>
map <C-G> :action Generate<CR>
map <C-E> :NERDTreeFocus<CR>
map <C-R> :action Refactorings.QuickListPopupAction<CR>

map <C-L> <action>(ReformatCode)
map <C-;> <action>(OptimizeImports)

vmap <C-J> :action MoveStatementDown<CR>
vmap <C-K> :action MoveStatementUp<CR>

" intellij gotos
map gf :action GotoFile<CR>
map ga :action GotoAction<CR>
map gd :action GotoDeclaration<CR>
map ge :action GotoNextError<CR>
map gE :action GotoPreviousError<CR>
map gi :action GotoImplementation<CR>
map gs :action GotoSymbol<CR>
map gc :action GotoClass<CR>
map gy :action GotoTypeDeclaration<CR>

map gq :action QuickJavaDoc<CR>

" use intellij navigation
map <C-O> :action Back<CR>
map <C-I> :action Forward<CR>

map [ :action MethodUp<CR>
map ] :action MethodDown<CR>

" intellij run/debug
map \r :action ChooseRunConfiguration<CR>
map \s :action Stop<CR>
map \d :action ChooseDebugConfiguration<CR>
map \b :action ToggleLineBreakpoint<CR>
